@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

button {
    display: flex;
    width: 70px;
    height: 70px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
  background-color:blue;
}

.espacio {
    flex-grow: 1;
}


.matriz {
    display: flex;
    flex-direction: column;
    padding-left: 600px;
    padding-right: 600px;
    background-color: #FFFFFF;
}

.fila-letras {
    display: flex;
    justify-content: stretch;
    flex-direction: row;
    font-family: 'Montana',serif;
    font-style: bold;
}

.fila {
    display: flex
}

.caja {
  border: 1px solid black;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  margin: 5px;
  padding: 3px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
